<a href="/posts/<%= post.id %>" class="col-12">
  <div class="posts-list m-1 p-3">
    <h5><%= post.title.capitalize %></h5>
    <h5><%= post.rating ||= '-' %> <i class="far fa-star"></i></h5>
  </div>
</a>
