@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(237, 239, 243);
}
a {
  color: black;
  text-decoration: none !important;
}
li {
  list-style: none;
}
.container-fluid {
  padding: 0
}

/* Card Custom Component */
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.card-product:hover {
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.1);
  transition: 0.5s;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

/* Show */
.scard-product {
  background: white;
  display: flex;
  align-items: center;
}
.scard-product img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}
.scard-product .scard-product-infos {
  padding: 16px;
  width: 100%;
  margin: 0 50px;
}

@media (max-width: 800px) {
  .scard-product {
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 15px;
  }
  .scard-product .scard-product-infos {
    padding: 16px;
    width: 100%;
    margin: 20px 0;
  }
}

.comment {
  border: 1px solid rgba(237, 239, 243, 1);
  background-color: white;
}











/*.c-photo {
  height: 200px;
  width: 300px;
  background-size: cover;
}
*/

/** {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #444;
  margin: 0;
  background-color: rgb(237, 239, 243);
}

i{
  color: #888;
}*/

/*.my-container {
  width: 96%;
  margin: 1rem auto;
}

.card {
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.card div:first-child {
  flex-basis: 35%;
}

.card div:last-child {
  flex-basis: 65%;
  padding: 0 0.5rem 0.25rem;
}

.card img {
  display: block;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card p {
  margin-top: 0.5rem;
  margin-bottom: 0.35rem;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.border {
  border: 1px solid #ddd;
}

.curve {
  border-radius: 0.35rem;
}

@media (min-width: 768px) {
  .my-container {
    max-width: 60%;
  }

  .card div:first-child {
    flex-basis: 30%;
  }

  .card div:last-child {
    flex-basis: 70%;
  }
}
*/
