@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(237, 239, 243);
}
a {
  color: black;
  text-decoration: none !important;
}
li {
  list-style: none;
}

/* Navbar */
#nav-items {
  font-size: 15px;
  width: 70px;
}
.navbar-brand:first-child {
  border-right: 1px solid rgba(0,0,0,0.1);
}
.navbar-brand {
  transition: 0.5s;
}
.navbar-brand:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Home Container */
#home-container {
  padding: 56px 100px;
}
#nav-logo {
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  transition: 0.5s;
}
#nav-logo:hover {
  color: rgba(0,0,0, 1);
}
.container-fluid {
  padding: 0
}


/* Card Custom Component */
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.card-product:hover {
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.1);
  transition: 0.5s;
}

.card-product img {
  height: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

#top-post {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  #top-post {
    flex-direction: column;
  }
  #top-post-margin {
    margin-bottom: 0 !important;
  }
}




/* Home Posts list */
.posts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(237, 239, 243, 1);
  background-color: white;
  transition: 0.5s;
}
.posts-list:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.posts-list a {
  color: black;
}
.posts-list i {
  font-size: 15px;
}




/* Show */
.scard-product {
  background: white;
  display: flex;
  align-items: center;
}
.scard-product img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}
.scard-product .scard-product-infos {
  padding: 16px;
  width: 100%;
  margin: 0 50px;
}

@media (max-width: 1000px) {
  #home-container {
    padding: 56px 15px;
  }
  .scard-product {
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
  }
  h3 {
    font-size: 15px;
  }
  .scard-product .scard-product-infos {
    padding: 16px;
    width: 100%;
    margin: 20px 0;
  }
}

.comment {
  border: 1px solid rgba(237, 239, 243, 1);
  background-color: white;
}

