<div class="col-12 text-right">
  <% if current_user  %>
    <% if @post.user_id == current_user.id || current_user.admin %>
      <form
        action='/posts/<%= @post.id %>'
        method='POST'
        class='pull-right'
        onclick="return confirm('Voulez vous supprimer cet article ?');"
      >
        <button type='submit' class='btn btn-sm btn-outline-secondary'>
          <i class="fas fa-trash-alt"></i>
        </button>
      </form>
    <% end %>
  <% end %>
</div>

