<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
          <form method="post" action="/posts/<%= @post.id %>" class="inline">
            <input type="hidden" name="sign" value="+">
            <!-- Upvote or Modal toggle if user not connected -->
            <% if current_user %>
              <button
                type="submit"
                class="btn btn-sm btn-outline-success mr-2"
                title="Upvote"
              >
              <i class="fas fa-chevron-up"></i>
              </button>
            <% else %>
              <button
                type="button"
                class="btn btn-sm btn-outline-success mr-2"
                title="Upvote"
                data-toggle="modal"
                data-target="#loginModal"
              >
              <i class="fas fa-chevron-up"></i>
              </button>
            <% end %>
            <!-- Upvote end -->
          </form>
          <form method="post" action="/posts/<%= @post.id %>" class="inline">
            <input type="hidden" name="sign" value="-">
            <!-- Downvote or Modal toggle if user not connected -->
            <% if current_user %>
              <button
                type="submit"
                class="btn btn-sm btn-outline-danger"
                title="Downvote"
              >
              <i class="fas fa-chevron-down"></i>
              </button>
            <% else %>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                title="Downvote"
                data-toggle="modal"
                data-target="#loginModal"
              >
              <i class="fas fa-chevron-down"></i>
              </button>
            <% end %>
            <!-- Downvote end -->
          </form>
        </div>
        <h5>votes</h5>
      </div>
    </div>
  </div>
</div>
