<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-end">
      <div class="d-flex flex-column align-items-center">
        <div class="d-flex justify-content-center">
          <form method="post" action="/posts/<%= @post.id %>" class="inline">
            <input type="hidden" name="sign" value="+">
            <button type="submit" class="btn btn-sm btn-outline-success mr-2" title="Upvote">
            <i class="fas fa-chevron-up"></i>
            </button>
          </form>
          <form method="post" action="/posts/<%= @post.id %>" class="inline">
            <input type="hidden" name="sign" value="-">
            <button type="submit" class="btn btn-sm btn-outline-danger" title="Downvote">
            <i class="fas fa-chevron-down"></i>
            </button>
          </form>
        </div>
        <h5>votes</h5>
      </div>
    </div>
  </div>
</div>
