<div
  id="home-container" class="container my-5"
  style="box-shadow: 0 5px 15px rgba(0,0,0,0.2);"
>
  <div id="post-container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Page Introuvable</h1>
      </div>
    </div>
  </div>
</div>
