<div class="navbar-nav">
  <a class="nav-link" href="/<%= path %>" title="<%= title %>">
    <div id="nav-items" class="d-flex flex-column align-items-center p-0">
      <i id="nav-logo" class="<%= icon %>"></i>
      <div>
        <%= tag %>
      </div>
    </div>
  </a>
</div>
