<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light p-0">
    <a class="navbar-brand" href="/" title="Retour Accueil">
      <div id="nav-items" class="d-flex flex-column align-items-center p-0">
        <i id="nav-logo" class="fas fa-home"></i>
        Home
      </div>
    </a>
    <a class="nav-link" href="/clear" title="Vider DB" onClick="return confirm('Vider la base de donnée ?')">
      <div id="nav-items" class="d-flex flex-column align-items-center p-0">
        <i id="nav-logo" class="far fa-trash-alt"></i>
        Vider
      </div>
    </a>
    <a class="nav-link" href="/import" title="Importer des articles de démonstration">
      <div id="nav-items" class="d-flex flex-column align-items-center p-0">
        <i id="nav-logo" class="fas fa-file-import"></i>
        <div>
          Importer
        </div>
      </div>
    </a>
    <a class="nav-link" href="/generate" title="Créer un post aléatoire">
      <div id="nav-items" class="d-flex flex-column align-items-center p-0">
        <i id="nav-logo" class="far fa-plus-square"></i>
        Générer
      </div>
    </a>
  </nav>
</div>
