<div class="container bg-light mt-3 py-5 px-5">
  <h1 class="">Articles Populaires</h1>
  <hr>
  <div class="row">
    <% @top_posts.each do |post| %>
      <%= erb :'components/home/_top-post', layout: false, locals: { post: post } %>
    <% end %>
  </div>
  <div class="mt-5">
    <h1>Derniers Articles</h1>
    <hr>
  </div>
  <div class="row">
    <% @posts.each do |post| %>
      <%= erb :'components/home/_post-list', layout: false, locals: { post: post } %>
    <% end %>
  </div>
</div>
