<div class="bg-light container mt-5 py-5 px-5">
  <div class="row">
    <div class="col-sm-12">
      <%= erb :'components/show/_post-header' %>
      <hr>
      <%= erb :'components/show/_post-content' %>
      <br>
      <%= erb :'components/show/_votes' %>
      <hr>
      <%= erb :'components/show/_comments' %>
    </div>
  </div>
