<div class="bg-light container mt-5 py-5 px-5">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Connexion</h1>
      <% if @error %>
      <p class="error"><%= @error %></p>
      <% end %>
      <form action="/sign_in" method="POST">
        <input name="username" placeholder="Username" />
        <input name="password" type="password" placeholder="Password" />
        <input type="submit" value="Entrer" />
      </form>
      <hr>
      <a href="/sign_up" class="m-5">Créer un compte</a>
    </div>
  </div>
</div>
