<div class="bg-light container mt-5 py-5 px-5">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Inscription</h1>
      <form action="/create_user" method="POST">
        <input name="username" placeholder="Username" />
        <input name="password" placeholder="Password" />
        <input type="submit" value="Créer" />
      </form>
      <hr>
      <a href="/sign_in" class="m-5">Déjà inscrit?</a>
    </div>
  </div>
</div>


